# Temporary files
*~
\#*\#
.\#*
# History files
.RData
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# Object and shared files
*.o
*.so
# TAG files
TAGS
GTAGS
GRTAGS
GPATH
GSYMS
r_include
# Misc
.DS_Store
src/compile_commands.json

